/* frontend/src/index.css */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffcc00;
  /* font-family: 'Pangolin', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */